// Scaffolding

$font-family-base: 'Roboto', sans-serif;
$font-family-cond: 'Roboto Condensed', sans-serif;

// Scaffolding

//COLORS



//COLORS

// Navbar

$navbar-height:100px;
$navbar-color: #333;
$background-navbar: transparent;
$background-navbar-expand: #171B1E;

// Navbar

//FOOTER



//FOOTER

// BUTTONS

$btn-font-weight: 'Roboto', sans-serif;

// BUTTONS

// Typography

$headings-font-weight: 700;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

// Typography
