@import "variables";
@import "bootstrap";
@import "mixins";
@import "buttons";
@import "../libs/font-awesome/css/font-awesome.min.css";
@import "../libs/fontello/css/fontello.css";

h2 {
	text-align: center;
	//text-transform: uppercase;
	font-weight: 500;
}

//NAVBAR

nav {
	min-height: 80px;
	position: relative;	
	border-bottom: 1px #e9edf1 solid;
	box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
}
.logo {
	padding: 15px 0;
}
.nav {
	&_phone {
		font-size: 32px;
		font-weight: 300;
		line-height: 0.7em;
		padding-top: 20px;
		span {
			font-size: 14px;
			color: #333;
			font-weight: 300;			
		}
	}
	&_social {
		//padding-top: 5px;
		float: right;
		i {
			padding-right: 6px;
		}
	}
}

.top_nav {
	background-color: #313236;
	color: #fff;
	min-height: 44px;
	line-height: 44px;
	font-size: 14px;
	font-weight: 300;
	border-bottom: 1px #e9edf1 solid;
	&_office {
		i {
			//margin-right: 3px;
			color: #00A2D1
		}
	}
	&_cabinet {

	}
	&_corporate, &_private {
		padding-top: 10px;
		font-size: 16px;
		font-weight: 300;
		
		i {
			margin-right: 3px;
			
		}
	}
	&_corporate {
		margin-top: 10px;
	}	 
}

//NAVBAR

//ТАРИФЫ

.tarrifs {
	&-block {
		padding: 30px;
		&-inner {
			//border: 1px solid rgba(0, 0, 0, 0.12);
			background: #ffffff none repeat scroll 0 0;
		    border-radius: 3px;		  
		    padding: 14px 14px 0 14px;
		    text-align: center;
		    transition: all 0.4s ease-out 0s;
		    border-color: #ffffff;
    		box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
		    //&:hover {
		    	//border-color: #ffffff;
    			//box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
		    //}
		    &-h2 {
		    	font-size: 24px;
		    	font-weight: 500;
		    	text-transform: uppercase;
		    	padding: 20px 0;
		    }
		    &-speed {
		    	font-size: 62px;
				font-weight: 700;
				color: #333;

				&-mb {
					font-size: 18px;
					line-height: 1px;
					font-weight: 300;
				}		    	
		    }
		    &-price {
		    	padding: 15px 0 15px 0;
		    	margin-top: 15px;
		    	font-size: 62px;
				font-weight: 700;
				text-align: center;
				color: #ED981A;
				color: #333;
				line-height: 0.7em;
				background-color: #F3F4EF;
		    	&-h3 {
		    		font-size: 16px;
		    		font-weight: 300;	
		    		color: #333;
		    		padding-bottom: 5px;	
		    		    		
		    	}
		    	i {
		    		font-size: 32px;
		    	}
		    }
		    &-button {
		    	position: relative;
		    	overflow: hidden;		    	
		    	max-width: 200px;
		    	&-wrap {
		    		padding: 15px 15px 35px 15px;
		    		background-color: #F3F4EF;	
		    	}	    	
		    }
		}
	}
}

//ТАРИФЫ

// ПРЕИМУЩЕСТВА

.advantages {
	background-color: #F3F4EF;
	padding: 50px 0;	
	&-text {
		font-size: 20px;
		font-weight: 300;
		text-align: center;
		padding: 15px;
	}
	&-icon {
		padding: 40px 0 20px 0;
	}
}

// ПРЕИМУЩЕСТВА

// СПОСОБЫ ОПЛАТЫ

.payment {
	padding: 30px 0;
	&-title {
		font-size: 22px;
		font-weight: 300;
		text-align: center;
		padding: 15px;
	}
	h2 {
		padding-bottom: 20px;
	}
}

// СПОСОБЫ ОПЛАТЫ

// КАК ПОДКЛЮЧИТЬСЯ


.connect {
	background-color: #F3F4EF;
	padding: 30px 0;
	box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
	//background: url(../img/back.jpg) no-repeat top right;
	//background-size: cover;
}
.process {
  width: 900px;
  margin: 3em auto;
  cursor: default;
}
.process-items {
  display: table;
  margin: 0 0 10px;
  padding: 0;
  list-style-type: none;
  color: #333;
  font-size: 18px;
  text-align: center;
  
  li {
    display: table-cell;
    width: 25%;
    vertical-align: bottom;
    padding: 0 .5em;
    transform: scale(0.85) translateY(40px);
    transform-origin: bottom center;
    transition: transform .5s;
    font-weight: 700;
    &.active {
      transform: scale(1) translateY(0);
    }
  }
  p {
    display: block;
    margin-top: .5em;
    font-weight: 300;
  }
}

// КАК ПОДКЛЮЧИТЬСЯ

// NEWS

.news {
	padding: 30px 0 10px 0;
	&-description {
		padding: 15px;
		&-h3 {
			font-size: 20px;
			font-weight: 700;
			padding: 10px 0;
		}
		&-text {
		font-size: 16px;
		font-weight: 300;
		padding: 10px 0 20px 0;
		}
	}	
}

//SLIDER
.slider {
 	margin-top: 50px;
}
.bx-wrapper .bx-viewport {
	border: none;
	box-shadow: none;
}
.outside {
	text-align: center;
	margin-top: 30px;
}
.bx-viewport {
	min-height: 450px;
}
.bx-wrapper img {
    display: block;
    width: 100%;
}
.slide {
	box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.bx-next .right {
	position: absolute;
	top:40%;
	right: -80px;
}
.bx-prev .left {
	position: absolute;
	top:40%;
	left: -80px;
}

//SLIDER


//ARROWS
button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

svg {
  padding: 5px;
}

.arrow {
  cursor: pointer; 
  width: 70px;
  height: 90px;
}



.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}

// NEWS


// FOOTER


.footer {
	background-color: #313236;
	&-left-block {
		background-color: #12A8CB;
		position: relative;
		height: 100%;		
		&-logo {
			//@include centerer(true,true);
			padding: 30px;
		}
	}
	&-right-block {
		
		height: 173px;
		padding: 30px 0;
		height: 100%;
		&-link {
			color: #fff;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			//text-align: center;
			ul {
				li {
					list-style-type: none;
					display: inline-block;
					padding: 30px 30px 10px 30px;
				}
			}
		}
	}
	&-social {
		padding: 8px 70px;
		color: #6E6F73;
		font-size: 16px;
		i {
			margin: 0 5px;
		}
	}
	&-copyright {
		color: #6E6F73;
		font-size: 16px;
		font-weight: 300;
		padding: 20px 0 0 70px;
	}
	
}


// FOOTER

//Кнопка наверх

.scrollUpButton {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 50px;
    color: #EF9919;
    display: none;
    font-size: 1.5em;
    padding: 5px 10px;
    position: fixed;
    right: 30px;
    text-decoration: none;
    z-index: 10000;
}
.scrollUpButton:hover {
    color: #000000;
    opacity: 1;
    text-decoration: none;
}

//Кнопка наверх